global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'link-shorty-app'
    static_configs:
      - targets: ['link-shorty-app:3000']