name: Deploy Local

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-job:
    runs-on: self-hosted  # <--- THIS IS THE KEY!

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build New Docker Image
        run: docker build -t link-shorty:latest .

      - name: Update Production
        run: |
          cd terraform
          terraform init
          terraform apply -replace="docker_container.app" -auto-approve